/* frontend/src/components/Navbar.css */
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(12px);
  padding: 1rem 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  width: 100%;
}

.navbar-logo a {
  font-size: 1.8rem;
  font-weight: 700;
  color: #055484;
  text-decoration: none;
  font-family: 'Inria Sans', sans-serif;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navbar-logo a::before {
  font-size: 1.5rem;
  margin-right: 0.2rem;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-links a {
  position: relative;
  margin-left: 1.5rem;
  font-size: 1rem;
  color: #055484;
  text-decoration: none;
  font-weight: 500;
  padding-bottom: 3px;
  transition: color 0.3s ease;
}

.navbar-links a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fd8407;
  left: 0;
  bottom: 0;
  transition: width 0.3s ease-in-out;
}

.navbar-links a:hover {
  color: #fd8407;
}

.navbar-links a:hover::after {
  width: 100%;
} */


